<form>
    <h1>Liste des données</h1>
  <li *ngFor="let d of listDonnees">
    <ul>Nom : {{d.nom}}</ul>
    <ul>Prènom : {{d.prenom}}</ul>
    <ul>Age : {{d.age}}</ul>
    <ul>Date de naissance : {{d.datenaissance}}</ul>
    <button class="btn btn-danger" (click)="deleteItem(i)">Supprimer</button>
  </li>
  
</form>